spring:
  application:
    name: webflux-grafana
  main:
    web-application-type: reactive

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: sales-ingestion
      env: demo
    distribution:
      percentiles-histogram:
        sales_ingest_latency_seconds: true
      percentiles:
        sales_ingest_latency_seconds: 0.5,0.9,0.95,0.99

logging:
  level:
    root: INFO
    com.aghersidev.webfluxgrafana: INFO
